
    <div class="container">

      <div class="starter-template">
        <h1>Biddly, sell your products to the highest bidders!</h1>
        <p class="lead">This is Biddly's home page.</p>
        <% if current_user %>
        <%= current_user.username%>
        <% end %>
      </div>

    </div><!-- /.container -->
